{% extends 'Myapp/layout.html' %}

{% load static %}


{% block 'body' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Myapp/login_signin.css' %}">
</head>
<body>
    <div class="create">
        <h2>Create an account</h2>
        <label for="input">
            <strong>First name</strong>
            <br> 
        <input id="full_name" type="text">
        </label><br><br>
        <label for="input">
            <strong>Last name</strong>
            <br> 
        <input id="full_name" type="text">
        </label><br><br>
        <label for="input">
            <strong>Email</strong>
            <br> 
        <input id="full_name" type="email">
        </label><br><br>
        <label for="input">
            <strong>Password</strong>
            <br> 
        <input id="full_name" type="password">
        </label><br><br>
        <label for="input">
            <strong>Confirm Password</strong>
            <br> 
        <input id="full_name" type="password">
        </label><br> <br> <br>

        <input type="submit" value="Create account" class="account_create">




        <p id="acc">Already have account? <a href="{% url 'login'%}">Login in</a></p>
    </div>
</body>
</html>
{%endblock%}
