
        .create {
            /* text-align: center; */
            /* overflow: hidden; */
            
            width: 80%;
        }
        input{
            position: relative;
            height: 30px;
            width: 25%;
            
        }
        p{
            /* text-align: center; */
            width: 20%;
            left:580px;
            position: relative;
            


        }
        #acc {
            position: relative;
            top: 90px;
        }
        label {
            position: relative;
            left: 510px;
            top: 60px;

        }
        .create h2 {
            width: 20%;
            position: relative;
            left: 576px;
            top: 40px;
        }
        .account_create{
            position: relative;
            left: 515px;
            color: white;
            top: 60px;

            height: 37px;
            background-color: black;
        }
        a {
            text-decoration: none;
        }
        .name {
            text-align:justify;
        }
        .have {
            position: relative;
            width: 20%;
            left:510px;        
            top: 92px;
            font-size: 15px;
        }
        .forgot {
            position: relative;
            width: 20%;
            left:710px;        
            top: 73px;
            font-size: 15px;
        }
        .login {
            position: relative;
            top: 150px;
            
        }
        .reset{
            position: relative;
            top: 175px;
        }
    